<%-include("partials/header");-%>

<h1>Compose</h1>
<div>
    <form action="/compose" method="POST">
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" >    
            <br>
            <label for="">Post</label>
            <textarea name="post" class="form-control" cols="150" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="publish">Publish</button>
    </form>
</div>

<%-include("partials/footer");-%> 